        html,body {
            margin: 0;
            padding: 0;
            width: 100%;
        }

        header {
            position: fixed;
            top: 0;
            width: 100%;
            background-color: black;
            color: white;
            padding: 10px 0;
            text-align: center;
            z-index: 1000;
        }

        .sidebar {
            position: sticky;
            top: 35px;
            background-color: lightgray;
            padding: 10px;
            width: 200px;
            height: 100vh;
            float: left;
        }

        main {
            margin-left: 200px;
        }

        section {
            background-color: white;
            padding: 20px;
            height: 500px;
        }

        section:nth-child(1) {
            margin-top: 35px;
            background-color: lightblue;
        }

        section:nth-child(2) {
            background-color: lightcoral;
            position: relative;
        }

        section:nth-child(3) {
            background-color: lightgreen;
        }

        .decorativo{
            position: absolute;
            bottom: 10px;
            right: 10px;
            padding: 5px;
            background-color: #555;
            color: white;
        }

        footer{
            background-color: gray;
            color: white;
            text-align: center;
            padding: 10px;
            margin-left: 200px
        }

